<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Paytm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accessaccount</display-name>
    <servlet-name>Accessaccount</servlet-name>
    <servlet-class>Accessaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accessaccount</servlet-name>
    <url-pattern>/Accessaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankTransfer</display-name>
    <servlet-name>BankTransfer</servlet-name>
    <servlet-class>BankTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankTransfer</servlet-name>
    <url-pattern>/BankTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createaccount</display-name>
    <servlet-name>Createaccount</servlet-name>
    <servlet-class>Createaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createaccount</servlet-name>
    <url-pattern>/Createaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>